<<<<<<< HEAD
.kaufman__table_theme_dark{
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  margin-bottom: 90px;
=======
.kaufman__table_theme_dark{
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  margin-bottom: 90px;
>>>>>>> 928195e9 (First commit)
}