<<<<<<< HEAD
.intro__list{
    margin-top: 33px;
    font-size: 12px;
    line-height: 18px;
=======
.intro__list{
    margin-top: 33px;
    font-size: 12px;
    line-height: 18px;
>>>>>>> 928195e9 (First commit)
}