<<<<<<< HEAD
.khan__quote-author-subline{
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
=======
.khan__quote-author-subline{
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
>>>>>>> 928195e9 (First commit)
}