.footer__link{
    margin-right: 18px;
    color: white;
    text-decoration: none;
}

.footer__link:link{
    margin-right: 18px;
    color: white;
    text-decoration: none;
}

.footer__link:visited{
    margin-right: 18px;
    color: white;
    text-decoration: none;
}

@media screen and (width <=700px) {
    .footer__link{
        margin: 0;
        margin-bottom: 32px;
    }
}