<<<<<<< HEAD
.places__place_website_link{
    color: white;
}
.places__place_website_link:link{
    color: white;
}

.places__place_website_link:visited{
    color: white;
=======
.places__place_website_link{
    color: white;
}
.places__place_website_link:link{
    color: white;
}

.places__place_website_link:visited{
    color: white;
>>>>>>> 928195e9 (First commit)
}