<<<<<<< HEAD
.places__place_website_url-heading{
    color: #AAAAAA;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 1.7;
=======
.places__place_website_url-heading{
    color: #AAAAAA;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 1.7;
>>>>>>> 928195e9 (First commit)
}