<<<<<<< HEAD
.digits__table_cell{
    display: flex;
    margin: 0;
    margin-top: 60px;
    min-width: 250px;
    width: 250px;
    flex-direction: column;
=======
.digits__table_cell{
    display: flex;
    margin: 0;
    margin-top: 60px;
    min-width: 250px;
    width: 250px;
    flex-direction: column;
>>>>>>> 928195e9 (First commit)
  }