@import url("./_trajectory/lead__image_trajectory.css");

.lead__image{
    background-image: url("../../../images/kalegin-michail-179870-unsplash.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 320px;
    max-width: 984px;
    max-height: 615px;
    width: 100vw;
    height: 60vw;
    margin-top: 7vw;
}

