<<<<<<< HEAD
.techniques__subtitle{
    margin-top: 20px;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
=======
.techniques__subtitle{
    margin-top: 20px;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
>>>>>>> 928195e9 (First commit)
}