@import url(./_item/_decription/techniques__cards_item_description/techniques__cards_item_description.css);
@import url(./_item/_image/techniques__cards_item_image.css);
@import url(./_item/techniques__cards_item_title/techniques__cards_item_title.css);
@import url(./_item/techniques__cards_item.css);

.techniques__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 920px;
}

