<<<<<<< HEAD
.kaufman__heading_theme_dark{
  z-index: 1;
  height: 1.15;
  font-size: 24px;
  font-weight: 600;
=======
.kaufman__heading_theme_dark{
  z-index: 1;
  height: 1.15;
  font-size: 24px;
  font-weight: 600;
>>>>>>> 928195e9 (First commit)
}