<<<<<<< HEAD


.body{
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
=======


.body{
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
>>>>>>> 928195e9 (First commit)
}