<<<<<<< HEAD
.footer__column-heading{
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
=======
.footer__column-heading{
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
>>>>>>> 928195e9 (First commit)
  }