<<<<<<< HEAD
.khan__author{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 105px;
=======
.khan__author{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 105px;
>>>>>>> 928195e9 (First commit)
}