<<<<<<< HEAD
.digits__title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    height: 1.15;
    width: 60%;
    font-weight: 600;
=======
.digits__title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    height: 1.15;
    width: 60%;
    font-weight: 600;
>>>>>>> 928195e9 (First commit)
  }