<<<<<<< HEAD
.feynman__link{
    position: absolute;
    right: 48px;
    top: 50vh;
    font-size: 36px;
    height: 51px;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
  }

  .feynman__link:hover{
    opacity: 0.3;
    transition: opacity 1.3s ease;
=======
.feynman__link{
    position: absolute;
    right: 48px;
    top: 50vh;
    font-size: 36px;
    height: 51px;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
  }

  .feynman__link:hover{
    opacity: 0.3;
    transition: opacity 1.3s ease;
>>>>>>> 928195e9 (First commit)
  }